<div class="task-input">

  <h2>Task Input Component</h2>

  <!-- Task Title -->
  <div class="form-group">
    <label>Task Title</label>
    <input type="text" placeholder="Enter task title" [(ngModel)] = "title">
  </div>

  <!-- Description -->
  <div class="form-group">
    <label>Description</label>
    <textarea placeholder="Enter description" [(ngModel)]="description" ></textarea>
  </div>

  <!-- Priority -->
  <div class="form-group">
    <label>Priority</label>
    <select [(ngModel)]="Priority">
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>
  </div>

  <!-- Due Date -->
  <div class="form-group">
    <label>Due Date</label>
    <input type="date" [(ngModel)]="Date">
  </div>

  <!-- Category -->
  <div class="form-group">
    <label>Category</label>
    <select [(ngModel)]="category">
      <option>Work</option>
      <option>Personal</option>
      <option>Study</option>
    </select>
  </div>

  <!-- Tags -->
  <div class="form-group">
    <label>Tags</label>
    <input type="text" placeholder="Enter tags" [(ngModel)]="tags">
  </div>

  <!-- Button -->
  <button type="button" (click)="add()">Add Task</button>

</div>